<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>{{msg}}</mat-dialog-content>

<!--
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Course msg" formControlName="msg">
    </mat-form-field>
      ....
</mat-dialog-content>
-->

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <!--
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
    -->
</mat-dialog-actions>
