<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete book</title>
    <style type="text/css">
        body {
            padding: 50px;
            font-family: monospace;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Person deletion confirmation form -->
<form id="delete-form" th:action="@{/confirmdelete(id=${b.id})}" th:method="post" action="delete.html">
    <h1>You are going to delete this book:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${b.id}" value="5cd2abe370af4b1d74b4dba1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" readonly="readonly" th:value="${b.name}" value="The Catcher in the Rye"/>
    </div>

    <div class="row">
        <button type="submit">Confirm delete</button>
    </div>
</form>

<form id="cancel" th:method="get" action="/">
    <div class="row">
        <button type="submit">Cancel</button>
    </div>
</form>


</body>
</html>
