<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
            font-family: monospace;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b: ${books}">
        <td th:text="${b.id}">1</td>
        <td th:text="${b.name}">John Doe</td>
        <td>
            <a th:href="@{/edit(id=${b.id})}" href="edit.html">Edit</a>
        </td>
        <td>
            <a th:href="@{/delete(id=${b.id})}" href="delete.html">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/add}" href="add.html" >Add</a>
</body>
</html>
